.Navbar {
  background: #554478;
  padding: 1em 2em;
  color: white;
}

.Navbar * {
  margin: 0;
}

.Navbar p {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.donut{
  width: 27%;
}